<p>blogdetail works!</p>

<div class="body grid-cols-1 mx-32 my-3" *ngFor="let item of detailBlog">
    <div class="tittle_blog font-extrabold text-7xl text-lef py-5 mb-5">
        {{item.tittle}}
    </div>
    <div class="image">
        <img class="object-cover" [src]="item.image.image_main" alt="">
    </div>
    
    <div class="date text-2xl font-light my-5">
        {{item.date}}
    </div>

    <div class="descript py-3 text-lg leading-8" >
        {{item.description.des}}
    </div>

    <div class="grid grid-cols-2 gap-5 py-5">
        <div class="iamge_second">
            <img class="object-cover h-full" [src]="item.image.secondary_image" alt="">
        </div>
        <div class="saying italic text-left p-2 text-lg my-auto leading-8 tracking-widest">
            {{item.description.saying}}
        </div>  
    </div>
    <h1>hello</h1>
    <swiper-container  pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
    slides-per-view="auto" coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
    coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true" autoplay-delay="2000">
       
        <swiper-slide>
            <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/news/2024/06_11_lavazza/s1.jpg" alt="">
        </swiper-slide>
        <swiper-slide>
            <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/news/2024/06_11_lavazza/s2.jpg" alt="">
        </swiper-slide>
        <swiper-slide>
            <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/news/2024/06_11_lavazza/s3.jpg" alt="">
        </swiper-slide>
        ...
      </swiper-container>

</div>
