<mat-toolbar [ngClass]="{'darkMode': darkMode}" class="flex footer-menu mat-elevation-z1 justify-between items-center h-full">
  <div class="">
    <button class="flex gap-5 items-center uppercase">
      <div class="logo block">
        <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/logos/2024/03_26/logo_header_01.svg" alt="">
      </div>
      <div class="ml-10 hidden lg:block">
        <a routerLink="/home" routerLinkActive>Home</a>
      </div>
      <div class="ml-10 hidden lg:block">
        <a routerLink="/login" routerLinkActive>DashBoard</a>
      </div>
      <div class="hidden lg:block">
        <a routerLink="/products" routerLinkActive>Products</a>
      </div>
      <div class="hidden lg:block">
        <a routerLink="/articles/list" routerLinkActive>Articles</a>
      </div>
    </button>
  </div>
 

  <div class="flex gap-5 items-center">
    <div class="hidden lg:block museum">
      <button>MUSEUM</button>
    </div>
    <div class="hidden lg:block museum">
      <button>CONTACT</button>
    </div>
    <div class="hidden lg:block">
      <button><mat-icon>translate</mat-icon></button>
    </div>
    <div class="hidden lg:block">
      <button (click)="toggleDarkMode()"><mat-icon>{{darkMode ? 'light_mode' : 'dark_mode'}}</mat-icon></button>
    </div>
    <div class="hidden lg:block" (click)="toggleDropdown($event)">
      <button id="dropdownAvatarNameButton" data-dropdown-toggle="dropdownAvatarName" class="flex items-center w-full text-sm pe-1 font-medium rounded-full dark:focus:ring-gray-700" type="button">
        <img class="w-8 h-8 me-2 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="user photo">
        <div [ngClass]="{'darkMode': darkMode}">Bonnie Green</div>
        <svg id="dropdownArrow" [class]="isOpen ? 'w-2.5 h-2.5 ms-3 transform rotate-180' : 'w-2.5 h-2.5 ms-3'" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
      </button>
      
      <div *ngIf="isOpen" [ngClass]="{'darkMode': darkMode}" id="dropdownAvatarName" class="absolute mt-6 z-50 bg-gray-100 darkMode:bg-black divide-y divide-gray-100 rounded-lg shadow w-40 dark:divide-gray-600">
        <ul class="py-2 text-sm" aria-labelledby="dropdownInformdropdownAvatarNameButtonationButton">
          <li><a href="#" class="block px-4 py-2 hover:bg-slate-400">Profile</a></li>
          <li><a href="#" class="block px-4 py-2 hover:bg-slate-400 dark:hover:bg-gray-600">Edit profile</a></li>
          <li><a href="#" class="block px-4 py-2 hover:bg-slate-400 dark:hover:bg-gray-600">Earnings</a></li>
        </ul>
        <div class="py-2"><a routerLink="/singin" class="block px-4 py-2 text-sm hover:bg-slate-400 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a></div>
      </div>
    </div>
    <div class="block lg:hidden menu_mobie mr-5">
        <button class="text-4xl  hover:opacity-85 transition-all" (click)="toggleSidebar()">
            <mat-icon class="text-4xl">{{!sidenav.opened ? 'menu' : 'close'}}</mat-icon> 
        </button>
    </div>
  </div>
  
</mat-toolbar>


<div class="absolute hidden lg:flex top-0 z-50 right-0  items-center justify-center h-full">
  <button class="border border-green-800 rounded-s-full bg-green-900 hover:opacity-70 text-white font-bold py-2 px-4 relative" (click)="openDialog()">
    <mat-icon class="text-4xl font-bold animate-spin">settings</mat-icon>
  </button>
</div>

<mat-sidenav-container [ngClass]="{'darkMode': darkMode}">
  <mat-sidenav #sidenav mode="over" position="start" class="w-full h-full bg-blue-500" [@slideInOut]="slideState">
    <div class="flex text-2xl p-10 flex-col uppercase bg-[#0a0a0a] text-white">
      <a (click)="closeSidebar()" routerLink="/home" routerLinkActive class="mb-4">Home</a>
      <a (click)="closeSidebar()" routerLink="/products" routerLinkActive class="mb-4">Products</a>
      <a (click)="closeSidebar()" routerLink="/articles/list" routerLinkActive class="mb-4">Articles</a>
      <a class="mb-4">MUSEUM</a>
      <a class="mb-4">CONTACT</a>
      <a class="mb-4">Profile</a>
      <a class="mb-4">Edit profile</a>
      <a class="mb-4">Earnings</a>
      <a routerLink="/singin" class="mb-4">Sign out</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
