
*{
  font-size: Roboto, Helvetica Neue, Arial;
}
mat-toolbar{
    z-index: 5;
    background: rgb(250, 250, 250);
    font-size: 21px;
    padding: 50px 0;
}

mat-sidenav{
  background: transparent;
}

button{
    border: none;
}


.content{
    height: 100vh;
     padding: 0;
  }
  mat-sidenav-container{
    height: calc(100vh - 100px);
  }
  
  mat-sidenav, mat-sidenav-content{
    transition: all 0.5s ease-in-out;
  }
  
.darkMode{
      background: transparent;
}
mat-icon {
  display: inline-block;
  width: auto;
  height: auto;
}


.darkMode{
  background: #0a0a0a;
  fill: white;
}

.mat-sidenav {
  transition: transform 2s ease-in-out;
}
.iconchange {
  transition: all 5s ease-in-out;
}
.oke1{
  transition: transform 3s ease-in;
}

.menu_mobie{
  font-size: 20px;
}

