


.tittle{
    text-align: center;
    justify-content: center;
    font-size: large;
   
}
.img{
    text-wrap: wrap;
    box-sizing: border-box;
}
.material-card {
    font-family: 'Roboto', sans-serif;
  background-color: #FFF;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
}
mat-paginator{
    background: transparent;

}

mat-icon {
    display: inline-block;
    width: auto;
    height: auto;
  }

mat-paginator {
    background: transparent;
    margin-bottom: 4%;
}




  