<div class="container mx-auto">
  <div class="tittle">
    <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam veniam nobis aut eligendi eius temporibus ex minima velit earum debitis! Vero, tenetur. Est quia reiciendis dignissimos harum dolore, temporibus commodi?</h1>
     <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, obcaecati! Debitis nihil aliquam eos illum sequi, voluptas harum labore quod consequatur qui. Fuga explicabo quibusdam inventore commodi quisquam ea accusamus?</h3>
  </div>
</div>
<br><br>
<div>
  <div class="tittle">
    <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam veniam nobis aut eligendi eius temporibus ex minima velit earum debitis! Vero, tenetur. Est quia reiciendis dignissimos harum dolore, temporibus commodi?</h1>
     <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, obcaecati! Debitis nihil aliquam eos illum sequi, voluptas harum labore quod consequatur qui. Fuga explicabo quibusdam inventore commodi quisquam ea accusamus?</h3>
  </div>
</div>