<div *ngIf="detailsProduct" class="mainn font-medium">
    <div class="container grid lg:grid-cols-3 grid-cols-none z-20 relative justify-center h-full tracking-widest">
        <div class="jtl border-none lead"></div>
        <div class="jtl border-none"></div>
        <div class="jtl border border-solid opacity-2 ">
            <div class="inf justify-center items-center gap-3">
                <button class="hover:opacity-35">
                    <svg class="hexagon-icon1 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.464 58.271" width="50" height="58" [ngClass]="{'darkMode': darkMode}">
                       <g stroke-width="2" transform="translate(-1624 -187.923)">
                          <path d="M50.464 43.992L25.732 58.271 1 43.992V15.434L25.732 1.155l24.732 14.279z" transform="translate(1623.5 187.345)" class="hexagon on-dark" fill="none" stroke="white"></path>
                          <path class="icon on-dark" d="M0 0l7.432 5.674L14.864 0" transform="rotate(-90 935.432 -711.068)" fill="black" stroke="white"></path>
                       </g>
                    </svg>
                 </button>
                <div class="fadeIn">{{detailsProduct.name | uppercase}}</div>
            </div>
        </div>
        <div class="border-none"></div>
        <div class="border-none"></div>
        <div class="jtl border-x border-b text-center">
            <div class="fadeIn">{{detailsProduct.price}}</div>
        </div>
        <div class="jtl border border-solid opacity-2">
            <div class="inf justify-center items-center gap-3">
                <button class="hover:opacity-35">
                    <svg class="hexagon-icon2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.464 58.271" width="50" height="58">
                        <g stroke-width="2" transform="translate(-1624 -187.923)"><path d="M50.464 43.992L25.732 58.271 1 43.992V15.434L25.732 1.155l24.732 14.279z"transform="translate(1623.5 187.345)" class="hexagon on-dark" fill="none" stroke="white"></path><path class="icon on-dark" d="M0 0l7.432 5.674L14.864 0" transform="rotate(-90 935.432 -711.068)" fill="none" stroke="white"></path></g></svg>
                </button>
                <div class="fadeIn">SEE INFORMATION</div>  
            </div>         
        </div>
        <div class="jtl  border-y border-x border-solid opacity-2 text-center">
            <div class="fadeIn">POWER(COMBINED ICE + EE)</div> 
            <div class="fadeIn">{{detailsProduct.power}}</div>
        </div>
        <div class="jtl  grid grid-cols-2 jtl border-b border-r border-solid text-center ">
            <div class="fadeIn">11</div>
            <div class="border-l fadeIn">12</div>
        </div>
    </div>
    <div class="picture car lg:w-[60%] lg:h-[60%] w-full h-full oject-cover" >
        <img class="z-0 " [src]="detailsProduct.photo" alt="">   
    </div>
</div>
