*{
    box-sizing: border-box;
}
.main {
    width: 100%;
    object-fit: cover;
    height: calc(100% - 64px);

}

  .hexagon-icon {
    transform: rotate(90deg);
        
    }
.title, .labo{
      font-size: 40px;
      color: #FCFFE0 ;
      text-shadow: 2px;
      font-weight: 900;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    
.contro{
  font-weight: 500;
  color: rgb(18, 148, 116) ;
}

@keyframes moveCar {
  0% { left: -30%; }
  50% { left: calc(50% - 30%); } /* Vị trí giữa màn hình */
  100% { left: calc(50% - 30%); } /* Vị trí giữa màn hình */
}

.title {    
  position: absolute;
  animation: moveCar 1.5s ease-in forwards; /* Dừng lại ở vị trí cuối cùng */
}

@keyframes fadeIn{
  from{
    opacity: 0;
    transform: scale(0.6);
  }
  to{
    opacity: 1;
    transform: scale(1);

  }
}
.fadein{
  animation: fadeIn 2s ease-in-out;
}

.image-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.custom-shape-main{
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 10% 100%);
}

.custom-shape {
  clip-path: polygon(0 0, 100% 0, 58% 100%, 0% 100%);

}
.custom-shape-1{
  clip-path: polygon(75% 0, 100% 0, 100% 95%,42.7% 95%);
}
.custom-shape-2{
  clip-path: polygon(42% 0, 100% 0,100% 50% ,90% 100%,10% 100%);
 
}

.custom-shape-3{
  clip-path: polygon(0 0, 100% 0,70% 95% ,0 95%);
}

.custom-shape-4{
  clip-path:polygon(0 0,66.5% 0, 45.3% 95%, 0 95%);
}

.custom-shape-5{
  clip-path:polygon(30% 10%, 100% 10%,100% 40% ,80% 100%, 3% 100%, 3% 98%);
}

.custom-shape-6{
  clip-path:polygon(0 0%, 92.8% 0%,60% 100% ,0 100% );
}

.custom-shape-7{
  clip-path:polygon(0 0, 69% 0,40% 100% ,0 100% );
}

.custom-shape-blog{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 50%,);
}


@media (max-width: 1024px) {
 .custom-shape-main, .custom-shape, .custom-shape-1, .custom-shape-2, .custom-shape-3, .custom-shape-4, .custom-shape-5, .custom-shape-6, .custom-shape-7{
    clip-path: none; 
  }
}


.bege {
  background:#ffffffde;
  padding: 2px;
}

.hey{
  color:red
}
