
<div class="h-full relative text-center">
  <img class="main p-0 m-0 object-cover absolute h-full" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/Squadra%20Corse/Motorsport/10_05/slide_motorsport_01.jpg" alt="">
  <!-- <img class="p-0 m-0 bg-cover absolute h-full" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/models_gw/2024/hero/hero_models.jpg" alt=""> -->
  <div class="absolute title top-[25%] left-[20%] uppercase justify-center font-black shadow-sm ">
    <h2 class="contro ml-20">Hey lop</h2>
    <h1 class="labo max-w-[100%] text-7xl">XEM TẤT CẢ LOẠI XE</h1>
     <button  (click)="scrollToTarget()" class="fadein text-3xl  hover:opacity-35 mr-11" >
      <a>
        <svg class="hexagon-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.464 58.271" width="50" height="58">
        <g stroke-width="2" transform="translate(-1624 -187.923)"><path d="M50.464 43.992L25.732 58.271 1 43.992V15.434L25.732 1.155l24.732 14.279z"transform="translate(1623.5 187.345)" class="hexagon on-dark" fill="none" stroke="white"></path><path class="icon on-dark" d="M0 0l7.432 5.674L14.864 0" transform="rotate(-90 935.432 -711.068)" fill="none" stroke="white"></path></g></svg>
      </a>
    </button>
  </div>
</div>

<div class="intro" id="inf">
  <div class="grid lg:grid-cols-12 md:grid-cols-1 ">
    <div class="col-span-6 lg:max-w-[80%] max-w-[90%] lg:ml-[13%] ml-5 m-auto">
      <div class="flex justify-center  mb-3">
        <img  src="https://i.imgur.com/MzZQX0i.png" height="10%" width="30%">
      </div>
      <div class="text-base text-left justify-center leading-7">
        <div class="font-bold mb-3 text-center">Niềm Đam Mê Tốc Độ Và Sự Hoàn Hảo</div>
          <div>Với cam kết không ngừng nghỉ trong việc tạo ra những trải nghiệm lái xe thể thao đỉnh cao, Lamborghini không chỉ là một thương hiệu xe hơi mà còn là một biểu tượng của phong cách sống và sự khác biệt. Những chiếc siêu xe của Lamborghini không chỉ thu hút sự chú ý trên đường phố mà còn truyền cảm hứng cho những người đam mê tốc độ và sự hoàn hảo.
            Hãy cùng khám phá thế giới Lamborghini - nơi niềm đam mê tốc độ gặp gỡ sự tinh tế trong từng chi tiết.      
            </div>
      </div>
    </div>  
    <div class="col-span-6">
      <img class="custom-shape-main" width="100%" height="100%" src="https://i.imgur.com/ZsPv8s2.jpeg" alt="main">
    </div>
  </div>

  <div class="top grid md:grid-cols-1 lg:grid-cols-12 my-2">
    <div class="col-span-6 lg:order-2 lg:max-w-[70%] max-w-[90%]  lg:m-auto ml-5">
      <div class="image-top items-center mb-7">
        <img class="bege w-[70%]"  src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/models_gw/2023/revuelto.png" alt="Revuelto">
      </div>
      <div class="text-base text-left flex justify-center leading-7">
        Revuelto là sự khởi đầu cho một kỷ nguyên mới của Lamborghini, hãng đã khai thác sức mạnh của công nghệ hybrid hóa để tạo ra chiếc HPEV (Xe điện khí hóa hiệu suất cao) đầu tiên. Đáp ứng nhu cầu về tính bền vững và hiệu suất mạnh mẽ, Lamborghini Revuelto viết lại mọi mô hình và đại diện cho một kiệt tác kỹ thuật ngoài sức tưởng tượng của bất kỳ ai. 
      </div>
      <div class="text-xl text-bold mt-5 font-bold"> 
        REVUELTO
      </div>
      <hr>
    </div>
    <div class="col-span-6">
      <img class="custom-shape w-full" src="https://i.imgur.com/nyUYmQt.jpeg">
    </div>
   
  </div>

  <div class="middle grid md:grid-cols-1 lg:grid-cols-12 lg:mb-0 mb-2 my-5">
    <div class="col-span-6 flex justify-center items-center">
      <div class="lg:max-w-[70%] max-w-[90%] lg:ml-[13%] m-auto ml-5">
        <div class="image-top items-center mb-7">
          <img  src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/models_gw/Hurac%C3%A1n_logo.png" alt="Huracan"  class="bege " >
        </div>
        <div class="text-base text-left leading-7">
          Từ quá khứ của chúng tôi, chúng tôi đã học được sự hoàn hảo. Đây là cách mẫu xe đầu tiên của Lamborghini Huracán ra đời. Hiệu suất cao hơn, kiểm soát nhiều hơn, đổi mới hơn. Huracán được trang bị động cơ V10 mạnh mẽ và những công nghệ mới nhất để đạt hiệu suất tốt nhất. Được thiết kế để đảm bảo hiệu suất và khả năng kiểm soát tốt nhất trong mọi điều kiện lái xe, bạn có thể dễ dàng vượt qua giới hạn, chưa kể cực kỳ thú vị nhờ công nghệ như hộp số ly hợp kép Lamborghini Doppia Frizione (LDF) và hệ dẫn động bốn bánh điều khiển điện tử. 
        </div>
        <div class="text-xl text-bold font-bold"> 
          <div class="py-3">HURACAN STERRATO </div><hr>
          <div class="py-3">HURACAN TECNICA</div><hr>
          <div class="py-3">HURACAN STO</div><hr>
          <div class="py-3">HURACAN EVO SPYDER</div>
          <hr>
        </div>
      </div>
    </div>
    <div class="col-span-6">
      <div class="content m-0">
        <img class="custom-shape-1 w-full" src="https://i.imgur.com/tNkxlZU.jpeg" alt="hurancan">
      </div>
      <div class="content">
        <img class="custom-shape-2 w-full" src="https://i.imgur.com/3AU8ras.jpeg" alt="huracan">
      </div>
    </div>
  </div>

  <div class="bottom grid md:grid-cols-1 lg:grid-cols-12 mt-5">
    <div class="col-span-6 ">
      <img class="custom-shape-3 w-full" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/models_gw/2024/hero/hero_models.jpg">
      <img class="custom-shape-7 w-full" src="https://images.hdqwalls.com/wallpapers/yellow-lamborghini-urus-front-studio-4k-46.jpg" alt="urus"> 
    </div>
    <div class="col-span-6 lg:max-w-[70%] max-w-[90%] lg:ml-[13%] m-auto ml-5">
      <div class="image-top items-center mb-7">
        <img class="bege"  src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/models_gw/Image%2034.png" alt="Urus">
      </div>
      <div class="text-base text-left flex justify-center leading-7">
        Lamborghini Urus là Siêu xe thể thao đa dụng đầu tiên trên thế giới, nơi sự độc quyền, tính thể thao và hiệu suất đáp ứng được sự thoải mái và linh hoạt. Nó mang lại cảm giác lái năng động tốt nhất trong phân khúc và sự sang trọng không thể nhầm lẫn trong thiết kế. Urus thể hiện cá tính của nhiều tâm hồn: thể thao, lịch lãm và off-road. Dòng sản phẩm này hướng đến tương lai, mở ra một kỷ nguyên mới với phiên bản PHEV (Xe điện hybrid cắm điện) đầu tiên của mẫu Super SUV hạng sang. Với hiệu suất vượt trội, trải nghiệm lái thú vị và tinh thần tiên phong, Lamborghini Urus không hề điển hình.
      </div>
      <div class="text-xl text-bold font-bold"> 
        <div class="py-3">URUS SE</div><hr>
        <div class="py-3">URUS S</div><hr>
        <div class="py-3">URUS PERFORMANTE</div><hr>
        <hr>
      </div>
      <hr>
      </div>
  </div>

  <div class="grid lg:grid-cols-12 grid-cols-1 text-left ml-5 mt-5 lg:mt-0">
    <div class="col-span-5 grid lg:grid-cols-12 grid-cols-1 ">
      <div class="col-span-5"></div>
      <div class="col-span-7 lg:max-w-[100%] text-lg lg:mx-auto  lg:items-center inline-block">
        <p class="lg:text-center text-left font-bold text-4xl">Ý TƯỞNG</p>
        <P class="text-left leading-7 font-light">Là những mẫu có tầm nhìn xa nhất, những mẫu vật độc đáo này được thiết lập để xác định những giới hạn cao nhất về công nghệ và thiết kế. Ra mắt tại Triển lãm ô tô quốc tế uy tín nhất, chúng mang đến cái nhìn độc đáo về các giải pháp sáng tạo nhất mà Lamborghini có thể áp dụng cho các mẫu xe sản xuất hàng loạt trong tương lai của mình.</P>
     </div>
    </div> 
    <div class="col-span-7">
      <div class="content">
        <img class="custom-shape-5 w-full" src="https://i.imgur.com/Tvu4zjl.jpeg" alt="huracan">
      </div>
    </div>
  </div>

  <div class="mx-auto py-12 ">
    <div class="grid grid-cols-1 md:grid-cols-2 items-center">
        <div class="p-6">
            <h1 class="text-4xl font-normal mb-4">TỔNG QUAN</h1>
            <p class="text-lg mb-4">
                Thử thách lớn nhất từ trước đến nay: tiến về phía trước và luôn nâng cao tiêu chuẩn, vượt qua hiện trạng để xây dựng một thế giới hoàn toàn mới vô hạn.
            </p>
            <button class="flex items-center text-blue-500 font-bold">
                <span>Tuyên ngôn thương hiệu</span>
                <svg class="ml-2 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
            </button>
        </div>
        <div class="">
          
        </div>
    </div>
  </div>

  
  <div class="gird grid-cols-1 gap-12 items-center mx-auto justify-center w-[70%] lg:my-5">
    <iframe src="https://streamable.com/e/piluww?t=21" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </div>

  <div class="">
    <div class="grid grid-cols-12">
        <div class="company col-span-6">
          <div class="relative">
            <img class="w-full" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/models_gw/cross-links/image1.jpg"  alt="Company Lamborghini">
            <div class="absolute left-[25%] bottom-[25%] uppercase text-center  text-white">
              <div class="text-3xl font-medium">Trụ sở chính</div>
              <div class="text-5xl font-extrabold">Lamborghini</div>
            </div>
          </div>
        </div>
      <div class="col-span-6 relative">
          <img  class="w-full h-full oject-cover" src="https://vov.vn/sites/default/files/styles/large/public/2022-09-2/lamborghini_aventador_1.jpg"  alt="company lamborghini">
          <div class="absolute left-[25%] bottom-[25%] uppercase text-center  text-white">
            <div class="text-3xl font-medium">Trụ sở chính</div>
            <div class="text-5xl font-extrabold">Lamborghini</div>
          </div>
      </div>
    </div>
  </div>

 


</div>